<footer class="fixed-bottom">
    <div class="d-flex justify-content-center align-items-center text-center py-3 border-top">
        <p class="mb-0">Copyright © 2024 Powered by ACD Veri Mühendisliği</p>
    </div>
</footer>
